<!DOCTYPE html>
<html lang="en"
>
<!--xmlns:th="http://www.thymeleaf.org"-->
<!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"-->
<!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>404</title>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?key=79d13dd2c1076b1ad827484228ee4dea&amp;v=1.1&amp;services=true"></script>
</head>
<body>
<h1>Page not found!</h1>
<input type="text" id="cityName"/>
<input type="button" onclick="setCity()" value="设置"/>
<div id="container" style="width:1300px;height:900px"></div>
<script type="text/javascript">
    function setCity() {
        var map = new BMap.Map("container");
        map.addControl(new BMap.NavigationControl());
        map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
        var markerArr = [
            {title: "名称：广州火车站", point: "113.264531,23.157003", address: "广东省广州市广州火车站", tel: "12306"},
            {title: "名称：广州塔（赤岗塔）", point: "113.330934,23.113401", address: "广东省广州市广州塔（赤岗塔） ", tel: "18500000000"},
            {title: "名称：广州动物园", point: "113.312213,23.147267", address: "广东省广州市广州动物园", tel: "18500000000"},
            {title: "名称：天河公园", point: "113.372867,23.134274", address: "广东省广州市天河公园", tel: "18500000000"}

        ];
        //第1步：设置地图中心点，广州市
        var point = new BMap.Point(113.312213, 23.147267);
        //第2步：初始化地图,设置中心点坐标和地图级别。
        map.centerAndZoom(point, 13);
        //第2步：初始化地图,设置中心点坐标和地图级别。
        map.centerAndZoom(point, 13);
        //第3步：启用滚轮放大缩小
        map.enableScrollWheelZoom(true);
        var ctrlNav = new window.BMap.NavigationControl({
            anchor: BMAP_ANCHOR_TOP_LEFT,
            type: BMAP_NAVIGATION_CONTROL_LARGE
        });
        map.addControl(ctrlNav);
        //第5步：向地图中添加缩略图控件
        var ctrlOve = new window.BMap.OverviewMapControl({
            anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
            isOpen: 1
        });
        map.addControl(ctrlOve);
        //第6步：向地图中添加比例尺控件
        var ctrlSca = new window.BMap.ScaleControl({
            anchor: BMAP_ANCHOR_BOTTOM_LEFT
        });
        map.addControl(ctrlSca);
        // 生成自定义图片
        var myIcon = new BMap.Icon("images/2.png", new BMap.Size(23, 25));
        // 第7步：绘制点
        // 生活坐标
        var marker = new BMap.Marker(new window.BMap.Point("113.264531", "23.157003"));
        var marker1 = new BMap.Marker(new window.BMap.Point(113.330934, 23.113401), {icon: myIcon});
        // 加载坐标
        map.addOverlay(marker);
        map.addOverlay(marker1);
    }

</script>
</body>
</html>