<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>用药提醒</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/user-manager.css">
    <link rel="stylesheet" href="css/listview.css">
    <script src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/modify.js"></script>
    <style type="text/css">
        select {
            float: right;
            width: 304px;
            height: 25px;
            margin: 5px 100px 0 0;
            border: 1px solid #aaa;
            padding-left: 20px;
            outline: none;
            background: rgba(0, 0, 0, 0);
        }

        .sex {
            width: 70px;
            padding-left: 0px;
            text-align: center;
            margin: 0px;
        }
    </style>
</head>

<body>
<form action="#">
    <div class="box">
        <div class="about">
            <p>姓名：<input type="text" name="searchName" title=""></p>
            <div class="function">
                <button class="search">搜索</button>
                <button class="empty">清空</button>
                <button class="revise">修改</button>
                <button class="key_reminder">一键提醒</button>
            </div>
        </div>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th><input type="checkbox" name="checkbox" id="cb" onclick="fx();" title=""/></th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>身高</th>
                <th>体重</th>
                <th>用药时间</th>
                <th>病史</th>
                <th>执行人</th>
            </tr>
            <tr>
                <td class="none"><input type="checkbox" name="fvs" title=""/></td>
                <td class="name">梅长芳</td>
                <td class="none">男</td>
                <td class="none">30</td>
                <td class="none">165</td>
                <td class="none">100</td>
                <td class="none">15:59</td>
                <td class="none">高血压</td>
                <td class="none">惠东海</td>
            </tr>
        </table>
    </div>
    <div class="page">
        <ul>
            <li class="btn Btn"><input type="button" value="上一页"></li>
            <li class="btn">10</li>
            <li class="btn Btn"><input type="button" value="下一页"></li>
            <li class="btn">到第&nbsp;&nbsp;<input type="text" class="Btn" style=" onkeyup="
                                                 value=value.replace(/[^1234567890-]+/g,'')" title="">&nbsp;&nbsp;页
            </li>
            <li><input type="button" value="确定"></li>
            <li>共100页</li>
        </ul>
        <select class="select" style=" width:3.5rem;margin:-36px 38rem 0 0; float: right;">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
        </select>
    </div>
    <div></div>
</form>
</body>
</html>
