<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>性别比例统计</title>
    <link rel="stylesheet" href="css/style.css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" href="css/menu_management.css"/>
    <link rel="stylesheet" href="css/listview.css"/>
</head>

<body>
<div class="box">
    <table class="table-01" cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="1">会员类型</th>
            <th colspan="4">手机APP会员</th>
            <th colspan="4">手表会员</th>
            <!--<th></th>-->
        </tr>
        <tr>
            <td attr="queue" num="01" class="none">性别类型</td>
            <td>男</td>
            <td>女</td>
            <td>未知</td>
            <th>总人数</th>
            <td>男</td>
            <td>女</td>
            <td>未知</td>
            <td>总人数</td>
            <!--<td class="td-01"></td>-->
        </tr>
        <tr>
            <td attr="queue" num="01" class="none">所占比例</td>
            <!--<td>12345(50%)</td>-->
            <!--<td>12345(50%)</td>-->
            <!--<td>12345(50%)</td>-->
            <td th:if="${sexRatio != null}" th:text="${sexRatio.appMale} + '(' +  ${sexRatio.appMaleRatio} + ')'">
                12345(50%)
            </td>
            <td th:if="${sexRatio != null}" th:text="${sexRatio.appFemale} + '(' +  ${sexRatio.appFemaleRatio} + ')'">
                12345(50%)
            </td>
            <td th:if="${sexRatio != null}" th:text="${sexRatio.appUnknown} + '(' + ${sexRatio.appUnknownRatio} + ')'">
                12345(50%)
            </td>
            <td th:if="${sexRatio != null}" th:text="${sexRatio.appCount}">
                12345(50%)
            </td>


            <td th:if="${sexRatio != null}" th:text="${sexRatio.male} + '(' +  ${sexRatio.maleRatio} + ')'">
                12345(50%)
            </td>
            <td th:if="${sexRatio != null}" th:text="${sexRatio.female} + '(' +  ${sexRatio.femaleRatio} + ')'">
                12345(50%)
            </td>
            <td th:if="${sexRatio != null}" th:text="${sexRatio.unknown} + '(' + ${sexRatio.unknownRatio} + ')'">
                12345(50%)
            </td>
            <td th:if="${sexRatio != null}" th:text="${sexRatio.count}">
                12345(50%)
            </td>
        </tr>
    </table>
</div>
<div style="height:70px"></div>
</body>
</html>
